@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

.margin {
  margin-left: 50px;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 50px;
    width: 400px;
    height: 400px;
  }

@media screen and (max-width: 992px) {
  .margin {
    margin-top: 50px;
    margin-left: 50px;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 50px;
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .margin {
    margin-top: 50px;
    margin-left: 50px;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 50px;
    width: 250px;
    height: 250px;
  }
}

.navigator {
  margin-bottom: 50px;
}
